@font-face {
  font-family: 'iconfont';  /* project id 1468582 */
  src: url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.eot');
  src: url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.woff') format('woff'),
  url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1468582_ghvtksr1l1a.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
