@font-face {
  font-family: 'iconfont';  /* project id 1468582 */
  src: url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.eot');
  src: url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1468582_fmtwlptjtx.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
